<div class="form-group">
    <div class="mb-3">
        <label for="title" class="form-label">Ваше имя</label>
        <input required type="text" class="form-control" name="user" id="user" placeholder="Имя">
      </div>
      <div class="mb-3">
        <label for="text" class="form-label">Комментарий</label>
        <textarea required class="form-control" name="comment" id="text" rows="3" placeholder="Введите ваш комментарий"></textarea>
      </div>

      <button type="submit" class="btn btn-primary">Подтвердить</button>
      <a href="/" class="btn btn-warning">Отмена</a>
</div>